

.nav-container {
    height: 4rem;
    display: flex;
    background-color: var(--color-primary); /* Deep teal background */
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* right: 2px; */
}

.logo {
    margin-left: 20px;
    font-weight: 600;
    font-size: 25px;
    color: var(--surface); /* White text for contrast */
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 3px; */
    font-weight: 400;
    gap: 3.5rem;
    list-style: none;
}

.nav-links li {
    text-decoration: none;
    padding-top: 2rem;
    padding-right: 2rem;
}

.nav-links li a {
    text-decoration: none;
    color: var(--surface); /* White text links */
    transition: color 0.2s ease;
}

.nav-links li a:hover {
    font-weight: 700;
}
